<html>
<head>
	<title>Farm Monitoring</title>
	<link rel="stylesheet" type="text/css" href="static/css/style_statistics.css">
</head>
<body>
	<header>
		<nav>
		<div class="main">
			<ul>
				<li><a href="index.htm">Home</a></li>
				<li><a href="#">Statistics</a></li>
				<li><a href="#">Tutorial</a></li>
				<li><a href="contact.htm">Contact</a></li>
			</ul>
		</div>
		</nav>
		<div class="title">
			<h1>Statistics</h1>
		</div>
		<div class="months">
			<ul2>
				<li><a href="#">January</a></li><br>
				<li><a href="#">February</a></li><br>
				<li><a href="#">March</a></li><br>
				<li><a href="#">April</a></li><br>
				<li><a href="#">May</a></li><br>
				<li><a href="#">June</a></li><br>
				<li><a href="#">July</a></li><br>
				<li><a href="#">August</a></li><br>
				<li><a href="#">September</a></li><br>
				<li><a href="#">October</a></li><br>
				<li><a href="#">November</a></li><br>
				<li><a href="#">December</a></li><br>
			</ul2>
		</div>	
	</header>
</body>		
</html>