<html>
<head>
	<title>Farm Monitoring</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<header>
		<nav>
		<div class="main affix">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="statistics.htm">Statistics</a></li>
				<li><a href="#">Tutorial</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="#">Battery</a></li>
			</ul>
		</div>
		</nav>
		<div class="title">
			<h1>Farm Monitoring</h1>
		</div>
		<div class="display">
			<ul2>
				<li>The current moisture content is </li><br>
				<li>The amount of water in the tank is </li><br>
				<li>No. of days water will remain</li><br>
			</ul2>
			<ul3>
				<li><a href="#">Pump On</a></li>
				<li><a href="#">Pump Off</a></li>
			</ul3>
		</div>
	</header>
</body>
</html>
